/* HTml styles */
html {
	background-image: url(background_2.jpg);
	background-size: 100%;
	z-index: 0;
	background-repeat: no-repeat;
	
}
body

/* Nav styles  */

img#nav_logo {
display: block;
width: 15%;
float: left;
}


.main_nav
{
	/*height: 100%;*/
	padding-right: 173px;
}
.main_nav_list
{
	height: 100%;
}
.main_nav_item
{
	display: inline-block;
	position: relative;
	/*padding-left: 22px;
	padding-right: 22px;*/
	margin-right: -4px;
	padding-top: 2px;
}
.main_nav_item.active::after
{
	display: block;
	position: absolute;
	bottom: 1px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #f4ad16;
	content: '';
}
.main_nav_item a
{
	display: block;
	font-size: 15px;
	font-weight: 400;
	color: black;
	line-height: 121px;
	padding-left: 22px;
	padding-right: 22px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled .main_nav_item a
{
	line-height: 90px;
}
.main_nav_item.active a
{
	color: #f4ad16;
}
.main_nav_item:hover a
{
	color: #f4ad16;
}

nav.navbar{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	background-color: #130a3599;
	padding: 0px;
}
a.navbar-brand{
	width: 20%;
	padding: 0px;
    margin: 0px;
}
a.navbar-brand img#nav_logo{
	width: 100%;
	padding: 0px;
}
.main_nav_list{
	width: 80%;

}
.main_nav_item {
	width: 20%;
}.main_nav_item a{
	text-align: center;
	font-size: 20px;
	color: white;
	padding: 0px;
	line-height: 20px
}
/* Slogan Styles */

/* .home
{
	width: 100%;
	height: 100vh;
}
.home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
} */
.home_content
{
	position: absolute;
	top: 46%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 80%;
	text-align: center;
}
.home_text_large
{
	font-size: 215px;
	font-weight: 900;
	color: #fdaa27;
	opacity: 0.34;
	text-transform: uppercase;
	line-height: 0.75;
}
.home_text_small
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	font-size: 72px;
	font-weight: 400;
	color: #FFFFFF;
	text-shadow: 0px 11px 51px rgba(0,0,0,0.35);
}